{% extends "App/Base.html" %}

{% load static %}

{% block Parte_Superior %}
<a class="btn btn-primary" href={% url 'Persona' %}>Cargar Personas</a>
<a class="btn btn-primary" href={% url 'Compras' %}>Cargar Compras</a>
<a class="btn btn-primary" href={% url 'Animal' %}>Animal</a>
{% endblock %}

{% block Parte_Central %}
<form action="{% url 'buscar' %}" method="GET"> 

    <input type="number" name="nombre" id="nombre">

    <input type="submit" value="buscar animal">
{% endblock %}

{% block Mensaje %}
<h1>{{ mensaje }}</h1>
{% endblock %}

{% block Parte_Central_Abajo_Izquierdo %}
<h1>PRUEBA</h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Central %}
<h1> TEST </h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Derecho %}
<h1> TEST 2</h1>
{% endblock %}