{% extends "App/Base.html" %}

{% load static %}

{% block Parte_Superior %}
<a class="btn btn-primary" href={% url 'inicio' %}>Inicio</a>
{% endblock %}

{% block Parte_Central %}
<h1 class="mb-5">Pagina de Formularios</h1>
{% endblock %}

{% block Mensaje %}
<h1>-------</h1>
{% endblock %}

{% block Parte_Central_Abajo_Izquierdo %}
<h1>-----</h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Central %}
<h1>------ </h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Derecho %}
<h1>------</h1>
{% endblock %}