{% extends "App/Base.html" %}

{% load static %}

{% block Parte_Superior %}
<a class="btn btn-primary" href={% url 'Formulario' %}>Formulario</a>
{% endblock %}

{% block Parte_Central %}
<h1 class="mb-5">Pagina de Inicio</h1>
{% endblock %}

{% block Mensaje %}
<h1>Ver Mensaje</h1>
{% endblock %}

{% block Parte_Central_Abajo_Izquierdo %}
<h1>PRUEBA</h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Central %}
<h1> TEST </h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Derecho %}
<h1> TEST 2</h1>
{% endblock %}