{% extends "App/Base.html" %}

{% load static %}

{% block Parte_Superior %}
<a class="btn btn-primary" href={% url 'Inicio' %}>Inicio</a>
{% endblock %}

{% block Parte_Central %}
<form action="{% url 'Formulario' %}" method="POST"> {% csrf_token %}

    <table>

        {{ form.as_table }}

    </table>

    <input type="submit" value="Registrar">

    </form>

{% endblock %}

{% block Mensaje %}

{% endblock %}

{% block Parte_Central_Abajo_Izquierdo %}
                         
{% endblock %}

{% block Parte_Central_Abajo_Central %}
                         
{% endblock %}

{% block Parte_Central_Abajo_Derecho %}
<h1>------</h1>
{% endblock %}