{% extends "App/Base.html" %}

{% load static %}

{% block Parte_Superior %}
<a class="btn btn-primary" href={% url 'Persona' %}>Cargar Personas</a>
<a class="btn btn-primary" href={% url 'Compras' %}>Cargar Compras</a>
<a class="btn btn-primary" href={% url 'Animal' %}>Animal</a>
{% endblock %}

{% block Parte_Central %}
  {% if cursos %}
     <ul>
    {% for anima in cursos %}
        <li>{{Animal.nombre}}</li>
        <li>{{Animal.Raza}}</li>
        <br>
    {% endfor %}
    </ul>

  {% else %}

<p> No existe </p>
   {% endif %}
{% endblock %}

{% block Mensaje %}
<h1></h1>
{% endblock %}

{% block Parte_Central_Abajo_Izquierdo %}
<h1></h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Central %}
<h1> </h1>                           
{% endblock %}

{% block Parte_Central_Abajo_Derecho %}
<h1> </h1>
{% endblock %}